@page
@model ProCar.Pages.ContactModel
@{
    ViewBag.Title = $"Контакты | Про Авто";
}

<div class="product-section pt-150 pb-150">
    <div class="">
        <div class="container">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="color-breadcrumb" href="/">Главная</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Контакты</li>
                </ol>
            </nav>
            <h3 class="m-0"><span class="orange-text mx-1">Контакты</span></h3>       
            <div class="row mt-3">
                <div class="col-lg-4 col-md-6">
                    <div class="">
                        <p class="orange-text-size mb-1">Телефон</p>
                        <a href="tel:+79697490043"><p style="font-family: 'Tenor Sans'"> @Html.DisplayFor(model => model.ContactDetails.PhoneNumber)</p></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="">
                        <p class="orange-text-size mb-1">Адрес</p>
                        <ul>
                            <li>@Html.DisplayFor(model => model.ContactDetails.Address)</li>
                            <li><a href="mailto:@Html.DisplayFor(model => model.ContactDetails.Email)">@Html.DisplayFor(model => model.ContactDetails.Email)</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="">
                        <p class="orange-text-size mb-1">Для связи</p>
                        <div class="d-flex w-100 text-center">

                            @foreach (var item in Model.SocialNetworks)
                            {
                                <a href="@item.Link" target="_blank" style="font-size: 30px"><i style="color:black" class="fab px-2 fa-@item.Icon bd-highlight"></i></a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h3><span class="orange-text">Где нас найти</span></h3>
        <div>
            <script type="text/javascript" charset="utf-8" async src="@Html.DisplayFor(model => model.ContactDetails.MapPoint)"></script>
        </div>
    </div>
</div>