@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="~/css/index.css">

<!-- hero area -->
<div class="hero-area hero-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 offset-lg-2 text-center">
                <div class="hero-text">
                    <div class="hero-text-tablecell">

                        <h1 style="font-family: 'Tenor Sans', cursive;">Аренда автомобилей в Оренбурге</h1>
                        <div class="hero-btns">
                            <a href="/Cars" class="boxed-btn" style="font-family: 'Tenor Sans', cursive;">
                                Все автомобили
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end hero area -->
<!-- product section -->
<div class="product-section pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="section-title">
                    <h3><span class="orange-text">Автомобили</span></h3>

                </div>
            </div>
        </div>

        @{
            int countTypes = 0;

            foreach (var item in Model.CarTypes)
            {
                <h3 class="m-0"><span class="orange-text mx-2">@item.Name</span></h3>

                <div class="row py-3">
                    @{
                        int countCars = 0;
                        foreach (var car in item.Cars)
                        {
                            <div class="col-lg-4 col-md-6 text-center mt-4">
                                <a href="/Cars/View/@(car.Id)">
                                    <div class="single-product-item p-0 m-0" style="position:relative">
                                        <h3 class="two__block_slide__text__name">@car.Brand.Name @car.Model</h3>
                                        <img class="m-0 p-2 img-cart" src="/Data/imgs/cars/@(car.Id)/1.png" alt="">
                                        <div class="product-image p-0 m-0">
                                        </div>
                                        <div class="d-flex">
                                            <p class="product-price  d-flex flex-grow-1 align-self-center text-left m-0 bd-highlight px-2">
                                                @car.CostPerDay <span class="product-info-price bd-highlight align-self-center px-1">₽/сутки</span>
                                            </p>
                                            <p class="product-info-price bd-highlight align-self-center px-1 m-0">@car.GearboxType.Name | </p>
                                            <p class="product-info-price bd-highlight align-self-center m-0 px-2">@car.YearOfIssue</p>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            countCars++;
                            if (countCars >= Model.CountCars)
                            {

                                <div class="col-12 pt-3">
                                    <a href="/Cars?cartype=@(item.Id)" class="w-100 btn all-cars-btn p-3">
                                        Больше автомобилей
                                    </a>
                                </div>

                                break;
                            }
                        }
                    }
                </div>

                if (countTypes >= Model.CountTypes)
                {
                    break;
                }
            }
        }
    </div>
</div>
<!-- end product section -->
