@page "{id}"
@model ProCar.Pages.Cars.ViewModel
@{
}
<div class="single-product mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="single-product-img mt-3">
                    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            @{
                                for (int i = 1; i <= Model.CountPhoto; i++)
                                {
                                    if (i == 1)
                                    {
                                            <div class="carousel-item active">
                                                <img src="/Data/imgs/cars/@(Model.Car.Id)/@(i).png" style="object-fit: cover; aspect-ratio:4/3; background-color:white" class="d-block" alt="">
                                            </div>
                                    }
                                    else
                                    {
                                            <div class="carousel-item">
                                            <img src="/Data/imgs/cars/@(Model.Car.Id)/@(i).png" style="object-fit: cover; aspect-ratio:4/3; background-color:white " class="d-block w-100" alt="">
                                            </div>
                                    }

                                }
                            }
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Назад</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Вперёд</span>
                        </button>
                    </div>

                </div>
            </div>
            <div class="col-md-5">
                <div class="single-product-content">
                    <h3 style=" font-family: 'Tenor Sans', cursive;">@Model.Car.Brand.Name @Model.Car.Model</h3>
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row" class="p-0">Марка</th>
                                <td class="p-0">@Model.Car.Brand.Name</td>
                            </tr>
                            <tr>
                                <th scope="row" class="p-0">Модель</th>
                                <td class="p-0">@Model.Car.Model</td>

                            </tr>
                            <tr>
                                <th scope="row" class="p-0">Объём двигателя</th>
                                <td colspan="2" class="p-0">@Model.Car.EngineСapacity л.</td>
                            </tr>
                            <tr>
                                <th scope="row" class="p-0">Вид топлива</th>
                                <td colspan="2" class="p-0">@Model.Car.FuelType.Name</td>
                            </tr>
                            <tr>
                                <th scope="row" class="p-0">Коробка передач</th>
                                <td colspan="2" class="p-0">@Model.Car.GearboxType.Name</td>
                            </tr>
                            <tr>
                                <th scope="row" class="p-0">Привод</th>
                                <td colspan="2 " class="p-0">@Model.Car.DriveType.Name</td>
                            </tr>
                            <tr>
                                <th scope="row" class="p-0">Год выпуска</th>
                                <td colspan="2" class="p-0">@Model.Car.YearOfIssue</td>
                            </tr>
                        </tbody>
                    </table>
                    <p class="single-product-pricing m-0">@Model.Car.CostPerDay ₽/сутки</p>
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row" class="p-0">Залог</th>
                                <td class="p-0">@Model.Car.Deposit₽</td>
                            </tr>
                            <tr>
                                <th scope="row" class="p-0">Стоимость задержки</th>
                                <td class="p-0">@Model.Car.TimeDelayCost ₽/час</td>

                            </tr>
                        </tbody>
                    </table>
                    <a href="shop.html" style=" font-family: 'Tenor Sans', cursive;"
                       class="boxed-btn">Забронировать</a>
                </div>



            </div>
        </div>
    </div>
</div>
