@page "{id}"
@model ProCar.Pages.Cars.ViewModel
@{
    ViewBag.Title = $"Аренда {Model.Car.Brand.Name} {Model.Car.Model} в Оренбурге | Про Авто";
}
<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
    <symbol id="check-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
    </symbol>
</svg>

<div class="single-product pt-150 pb-150">


    <div class="container">

        
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="color-breadcrumb" href="/">Главная</a></li>
                <li class="breadcrumb-item"><a class="color-breadcrumb" href="/Cars/">Все автомобили</a></li>
            <li class="breadcrumb-item active" aria-current="page">@Model.Car.Brand.Name @Model.Car.Model</li>
        </ol>
    </nav>

        @if (Model.IsConfirmed)
        {

            <div class="alert alert-success d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="30px" height="30px" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill" /></svg>
                <div>
                    Заявка оформлена
                </div>
            </div>
        }

        <div class="row">
            <div class="col-md-6">
                <div class="single-product-img">
                    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            @{
                                for (int i = 1; i <= Model.CountPhoto; i++)
                                {
                                    if (i == 1)
                                    {
                                        <div class="carousel-item active">
                                            <img src="~/cars/@(Model.Car.Id)/@(i).png" style="object-fit: cover; aspect-ratio:4/3; background-color:white" class="d-block" alt="" asp-append-version="true">
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="carousel-item">
                                            <img src="~/cars/@(Model.Car.Id)/@(i).png" style="object-fit: cover; aspect-ratio:4/3; background-color:white " class="d-block w-100" alt="" asp-append-version="true">
                                        </div>
                                    }

                                }
                            }
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Назад</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Вперёд</span>
                        </button>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="single-product-content">
                    <h3 style=" font-family: 'Tenor Sans', cursive;">@Model.Car.Brand.Name @Model.Car.Model</h3>
                    <table class="table" style="font-family: 'Tenor Sans', cursive;">
                        <tbody>
                            <tr>
                                <th scope="row" class="p-0">Марка</th>
                                <td class="p-0">@Model.Car.Brand.Name</td>
                            </tr>
                            <tr>
                                <th scope="row" class="p-0">Модель</th>
                                <td class="p-0">@Model.Car.Model</td>

                            </tr>
                            <tr>
                                <th scope="row" class="p-0">Объём двигателя</th>
                                <td colspan="2" class="p-0">@Model.Car.EngineСapacity л.</td>
                            </tr>
                            <tr>
                                <th scope="row" class="p-0">Вид топлива</th>
                                <td colspan="2" class="p-0">@Model.Car.FuelType.Name</td>
                            </tr>
                            <tr>
                                <th scope="row" class="p-0">Коробка передач</th>
                                <td colspan="2" class="p-0">@Model.Car.GearboxType.Name</td>
                            </tr>
                            <tr>
                                <th scope="row" class="p-0">Привод</th>
                                <td colspan="2 " class="p-0">@Model.Car.DriveType.Name</td>
                            </tr>
                            <tr>
                                <th scope="row" class="p-0">Год выпуска</th>
                                <td colspan="2" class="p-0">@Model.Car.YearOfIssue</td>
                            </tr>
                        </tbody>
                    </table>
                    <p class="single-product-pricing m-0">@Model.Car.CostPerDay ₽/сутки</p>
                    <table class="table" style="font-family: 'Tenor Sans', cursive;">
                        <tbody>
                            <tr>
                                <th scope="row" class="p-0">Залог</th>
                                <td class="p-0">@Model.Car.Deposit₽</td>
                            </tr>
                            <tr>
                                <th scope="row" class="p-0">Стоимость задержки</th>
                                <td class="p-0">@Model.Car.TimeDelayCost ₽/час</td>

                            </tr>
                        </tbody>
                    </table>
                    <a class="boxed-btn" style="font-family: 'Tenor Sans', cursive;" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Забронировать</a>

                </div>



            </div>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" style="font-family: 'Tenor Sans', cursive;" id="offcanvasRightLabel">Забронировать @Model.Car.Brand.Name @Model.Car.Model</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="card-body">
            <div class="billing-address-form">
                <form action="" method="post" style="font-family: 'Tenor Sans', cursive;">
                    <input value="@Model.Car.Id" class="d-none" name="id" />
                    <p><input type="text" placeholder="Как к Вам обращаться" name="name" required maxlength="50"></p>
                    <p class="m-0">Забронировать от</p>
                    <p><input id="startDate" class="form-control " name="rentFrom" type="date" required /></p>

                    <p class="m-0">Забронировать до</p>
                    <p><input id="endDate" class="form-control " name="rentBefore" type="date" required /></p>

                    <p><input type="tel" id="phone" name="phone" placeholder="Номер телефона" required></p>


                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" required>
                        <label class="form-check-label" for="flexCheckDefault">
                            Я согласен на обработку<a class="" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight2" aria-controls="offcanvasRight2"> персональных данных</a>

                        </label>
                    </div>
                    <button type="submit" class="btn boxed-btn m-0" style="font-family: 'Tenor Sans', cursive;">Забронировать</button>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight2" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" style="font-family: 'Tenor Sans', cursive;" id="offcanvasRightLabel">Согласие на обработку персональных данных</h5>
        <button class="btn-close" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"></button>

    </div>
    <div class="offcanvas-body" style="font-family: 'Tenor Sans', cursive;">
        Настоящим в соответствии с Федеральным законом № 152-ФЗ «О персональных данных» от 27.07.2006 года свободно, своей волей и в своем интересе выражаю свое безусловное согласие на обработку моих персональных данных администратором доменного имени сайта proauto.ru (далее Оператор), при этом:
        - подтверждаю, что все указанные мною в полях формы данные принадлежат лично мне;
        - даю согласие на обработку оператором предоставляемых мной персональных данных без оговорок и ограничений, в том числе на передачу персональных данных оператором третьим лицам, с которыми у оператора имеются договорные отношения;
        - подтверждаю, что, давая такое согласие, я действую свободно, своей волей и в своем интересе. Мое согласие Пользователя на обработку персональных данных является конкретным, информированным и сознательным.
        Я предоставляю Оператору право осуществлять следующие действия (операции) с персональными данными: сбор, накопление, хранение, уточнение (обновление, изменение), использование, уничтожение, обезличивание, передача по требованию суда, в т.ч. третьим лицам, с соблюдением мер, обеспечивающих защиту персональных данных от несанкционированного доступа.
        Файлы cookie, передаваемые Оператором оборудованию Пользователя и оборудованием Пользователя Оператору, могут использоваться Оператором для предоставления Пользователю персонализированных интернет-сервисов, для таргетирования рекламы, которая показывается Пользователю, в статистических и исследовательских целях, а также для улучшения сервисов Оператора.
        Пользователь осознает, что оборудование и программное обеспечение, используемые им для посещения сайтов в сети интернет могут обладать функцией запрещения операций с файлами cookie (для любых сайтов или для определенных сайтов), а также удаления ранее полученных файлов cookie.
        Структура файла cookie, его содержание и технические параметры определяются Оператором и могут изменяться без предварительного уведомления Пользователя. Согласие действует в течение неопределенного срока до момента отзыва мной. Согласие может быть отозвано мной путем направления соответствующего распоряжения в простой письменной форме на эл.адрес <a href="mailto:proavtooren@yandex.ru">proavtooren@yandex.ru</a>
    </div>
</div>
<script>
    var phoneInput = document.getElementById('phone');
    var myForm = document.forms.myForm;
    var result = document.getElementById('result');  // only for debugging purposes

    phoneInput.addEventListener('input', function (e) {
        var x = e.target.value.replace("+7 ", "").replace("+7", "").replace(/\D/g, '').match(/(\d{0,3})(\d{0,3})(\d{0,4})/);
        e.target.value = "+7 ";
        var text = !x[2] ? x[1] : '(' + x[1] + ') ' + x[2] + (x[3] ? '-' + x[3] : '');
        e.target.value += text;
    });

</script>