@page
@model ProCar.Pages.Admin.Cars.AddModel
@{
    Layout = "_Layout2";
}

<link rel="stylesheet" href="~/css/jquery.imagesloader.css" />

<script type="text/javascript" async="" src="https://ssl.google-analytics.com/ga.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/js/all.min.js" crossorigin="anonymous"></script>

<script src="~/js/jquery.imagesloader-1.0.1.js"></script>

<h2>Добавление автомобиля</h2>
<span asp-validation-for="Input"></span>
<form method="post">
    <div class="mb-3">
        <label>Марка</label>
        <select class="form-select" asp-for="Input.BrandId" required>
            <option selected value="" disabled>-- Выберите марку --</option>
            <option value="999">Проверка некорректного Id</option>
            @foreach (var item in Model.FormData.Brands)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
        <span asp-validation-for="Input.BrandId"></span>
    </div>
    <div class="mb-3">
        <label>Модель</label>
        <input class="form-control" asp-for="Input.Model" value="" required />
        <span asp-validation-for="Input.Model"></span>
    </div>
    <div class="mb-3">
        <label>Тип автомобиля</label>
        <select class="form-select" asp-for="Input.CarTypeId" required>
            <option selected value="" disabled>-- Выберите тип --</option>
            @foreach (var item in Model.FormData.CarTypes)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
        <span asp-validation-for="Input.CarTypeId"></span>
    </div>
    <div class="mb-3">
        <label>Тип привода</label>
        <select class="form-select" asp-for="Input.DriveTypeId" required>
            <option selected value="" disabled>-- Выберите тип --</option>
            @foreach (var item in Model.FormData.DriveTypes)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
        <span asp-validation-for="Input.DriveTypeId"></span>
    </div>
    <div class="mb-3">
        <label>Тип коробки передач</label>
        <select class="form-select" asp-for="Input.GearboxTypeId" required>
            <option selected value="" disabled>-- Выберите тип --</option>
            <@foreach (var item in Model.FormData.GearboxTypes)
            {
                        <option value="@item.Id">@item.Name</option>
            }
        </select>
        <span asp-validation-for="Input.GearboxTypeId"></span>
    </div>
    <div class="mb-3">
        <label>Вид топлива</label>
        <select class="form-select" asp-for="Input.FuelTypeId" required>
            <option selected value="" disabled>-- Выберите вид --</option>
            @foreach (var item in Model.FormData.FuelTypes)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
        <span asp-validation-for="Input.FuelTypeId"></span>
    </div>
    <div class="mb-3">
        <label>Объем двигателя</label>
        <input class="form-control" value="@Model" type="number" step="0.1" id="engine-capacity" required min="0" max="10" />
        <input class="form-control d-none" asp-for="Input.EngineСapacity" value="" id="engine-capacity-text" type="text" />
        <span asp-validation-for="Input.EngineСapacity"></span>
    </div>
    <div class="mb-3">
        <label>Год выпуска</label>
        <input class="form-control" asp-for="Input.YearOfIssue" value="" required type="number" min="1900" max="9999" />
        <span asp-validation-for="Input.YearOfIssue"></span>
    </div>
    <div class="mb-3">
        <label>Стоимость за суточную аренду</label>
        <input class="form-control" asp-for="Input.CostPerDay" value="" required type="number" min="1" />
        <span asp-validation-for="Input.CostPerDay"></span>
    </div>
    <div class="mb-3">
        <label>Залог</label>
        <input class="form-control" asp-for="Input.Deposit" value="" required type="number" min="0" />
        <span asp-validation-for="Input.Deposit"></span>
    </div>
    <div class="mb-3">
        <label>Стоимость задержки по времени (за 1 час)</label>
        <input class="form-control" asp-for="Input.TimeDelayCost" value="" required type="number" min="0" />
        <span asp-validation-for="Input.TimeDelayCost"></span>
    </div>
    <button class="btn btn-primary" type="submit">Добавить</button>

    <!--Image container -->
    <div class="row"
         data-type="imagesloader"
         data-errorformat="Accepted file formats"
         data-errorsize="Maximum size accepted"
         data-errorduplicate="File already loaded"
         data-errormaxfiles="Maximum number of images you can upload"
         data-errorminfiles="Minimum number of images to upload"
         data-modifyimagetext="Modify immage">
        <!-- Progress bar -->
        <div class="col-12 order-1 mt-2">
            <div data-type="progress" class="progress" style="height: 25px; display:none;">
                <div data-type="progressBar" class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 100%;">Load in progress...</div>
            </div>
        </div>
        <!-- Model -->
        <div data-type="image-model" class="col-4 pl-2 pr-2 pt-2" style="max-width:200px; display:none;">
            <div class="ratio-box text-center" data-type="image-ratio-box">
                <img data-type="noimage" class="btn btn-light ratio-img img-fluid p-2 image border dashed rounded" src="~/imgs/photo-camera-gray.svg" style="cursor:pointer;">
                <div data-type="loading" class="img-loading" style="color:#218838; display:none;">
                    <span class="fa fa-2x fa-spin fa-spinner"></span>
                </div>
                <img data-type="preview" class="btn btn-light ratio-img img-fluid p-2 image border dashed rounded" src="" style="display: none; cursor: default;">
                <span class="badge badge-pill badge-success p-2 w-50 main-tag" style="display:none;">Main</span>
            </div>
            <!-- Buttons -->
            <div data-type="image-buttons" class="row justify-content-center mt-2">
                <button data-type="add" class="btn btn-outline-success" type="button"><span class="fa fa-camera mr-2"></span>Add</button>
                <button data-type="btn-modify" type="button" class="btn btn-outline-success m-0" data-toggle="popover" data-placement="right" style="display:none;">
                    <span class="fa fa-pencil-alt mr-2"></span>Редактировать
                </button>
            </div>
        </div>
        <!-- Popover operations -->
        <div data-type="popover-model" style="display:none">
            <div data-type="popover" class="ml-3 mr-3" style="min-width:150px;">
                <div class="row">
                    <div class="col p-0">
                        <button data-operation="main" class="btn btn-block btn-success btn-sm rounded-pill" type="button"><span class="fa fa-angle-double-up mr-2"></span>Main</button>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-6 p-0 pr-1">
                        <button data-operation="left" class="btn btn-block btn-outline-success btn-sm rounded-pill" type="button"><span class="fa fa-angle-left mr-2"></span>Left</button>
                    </div>
                    <div class="col-6 p-0 pl-1">
                        <button data-operation="right" class="btn btn-block btn-outline-success btn-sm rounded-pill" type="button">Right<span class="fa fa-angle-right ml-2"></span></button>
                    </div>
                </div>
                @*<div class="row mt-2">
                    <div class="col-6 p-0 pr-1">
                        <button data-operation="rotateanticlockwise" class="btn btn-block btn-outline-success btn-sm rounded-pill" type="button"><span class="fas fa-undo-alt mr-2"></span>Rotate</button>
                    </div>
                    <div class="col-6 p-0 pl-1">
                        <button data-operation="rotateclockwise" class="btn btn-block btn-outline-success btn-sm rounded-pill" type="button">Rotate<span class="fas fa-redo-alt ml-2"></span></button>
                    </div>
                </div>*@
                <div class="row mt-2">
                    <button data-operation="remove" class="btn btn-outline-danger btn-sm btn-block" type="button"><span class="fa fa-times mr-2"></span>Remove</button>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="input-group">
            <!--Hidden file input for images-->
            <input id="files" type="file" name="files[]" data-button="" multiple="" accept="image/jpeg, image/png, image/gif," style="display:none;">
        </div>
    </div>
    <!-- Upload Button -->
    @*<div class="row mt-2">
    <div class="col-md-4 offset-md-8 text-center mb-4">
    <button id="btnContinue" type="submit" form="frm" class="btn btn-block btn-outline-success float-right" data-toggle="tooltip" data-trigger="manual" data-placement="top" data-title="Continue">
    Continue<span id="btnContinueIcon" class="fa fa-chevron-circle-right ml-2"></span><span id="btnContinueLoading" class="fa fa-spin fa-spinner ml-2" style="display:none"></span>
    </button>
    </div>
    </div>*@
</form>
<script>
    var imagesloader = $('[data-type=imagesloader]').imagesloader({
        // options here
    });

    $("form").submit(function () {
        var value = $("#engine-capacity").val();
        var idx = value.indexOf(".");
        if (idx > 0) {
            value = value.replace(".", ",");
        }
        console.log("idx: " + idx + " value: " + value);
        $("#engine-capacity-text").val(value);
        console.log("changed: " + value);

        // Load Imafges
        var $form = $(this);
        var files = imagesloader.data('format.imagesloader').AttachmentArray;
        var il = imagesloader.data('format.imagesloader');
        if (il.CheckValidity())
            alert('Upload ' + files.length + ' files');
        e.preventDefault();
        e.stopPropagation();
    });
</script>