@page
@model ProCar.Pages.Admin.Cars.AddModel
@{
    Layout = "_Layout2";
}

@*<script src="https://unpkg.com/filepond/dist/filepond.min.js"></script>
<script src="https://unpkg.com/jquery-filepond/filepond.jquery.js"></script>
<script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
<script src="https://unpkg.com/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.js"></script>
<script src="https://unpkg.com/filepond-plugin-file-poster/dist/filepond-plugin-file-poster.js"></script>*@

@*<link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet" />
<link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css"
      rel="stylesheet" />
<link href="https://unpkg.com/filepond-plugin-file-poster/dist/filepond-plugin-file-poster.css"
      rel="stylesheet" />*@

<script src="~/js/filepond/filepond.min.js"></script>
<script src="~/js/filepond/filepond.jquery.js"></script>
<script src="~/js/filepond/filepond-plugin-file-poster.js"></script>
<script src="~/js/filepond/filepond-plugin-file-validate-type.js"></script>
<script src="~/js/filepond/filepond-plugin-image-preview.js"></script>
<script src="~/js/compressorjs/dist/compressor.min.js"></script>

<link href="~/css/filepond/filepond.css" rel="stylesheet">
<link href="~/css/filepond/filepond-plugin-image-preview.css" rel="stylesheet">
<link href="~/css/filepond/filepond-plugin-file-poster.css" rel="stylesheet">

<style>
    .compress-info{
        background-color: #f1f0ef;
        color: #4f4f4f;
        border-radius: 12px;
    }
</style>

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-page="/Admin/Index">Панель администратора</a></li>
        <li class="breadcrumb-item" aria-current="page"><a asp-page="/Admin/Cars/Index">Автомобили</a></li>
        <li class="breadcrumb-item active" aria-current="page">Добавить</li>
    </ol>
</nav>

<h2>Добавление автомобиля</h2>
<span asp-validation-for="Input"></span>
<form id="uploadform" method="post" enctype="multipart/form-data" class="mt-3">
    <div class="mb-3">
        <label>Марка</label>
        <select class="form-select" asp-for="Input.BrandId" required>
            <option selected value="" disabled>-- Выберите марку --</option>
           
            @foreach (var item in Model.FormData.Brands)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
        <span asp-validation-for="Input.BrandId"></span>
    </div>
    <div class="mb-3">
        <label>Модель</label>
        <input class="form-control" asp-for="Input.Model" value="" required />
        <span asp-validation-for="Input.Model"></span>
    </div>
    <div class="mb-3">
        <label>Тип автомобиля</label>
        <select class="form-select" asp-for="Input.CarTypeId" required>
            <option selected value="" disabled>-- Выберите тип --</option>
            @foreach (var item in Model.FormData.CarTypes)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
        <span asp-validation-for="Input.CarTypeId"></span>
    </div>
    <div class="mb-3">
        <label>Тип привода</label>
        <select class="form-select" asp-for="Input.DriveTypeId" required>
            <option selected value="" disabled>-- Выберите тип --</option>
            @foreach (var item in Model.FormData.DriveTypes)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
        <span asp-validation-for="Input.DriveTypeId"></span>
    </div>
    <div class="mb-3">
        <label>Тип коробки передач</label>
        <select class="form-select" asp-for="Input.GearboxTypeId" required>
            <option selected value="" disabled>-- Выберите тип --</option>
            <@foreach (var item in Model.FormData.GearboxTypes)
            {
                        <option value="@item.Id">@item.Name</option>
            }
        </select>
        <span asp-validation-for="Input.GearboxTypeId"></span>
    </div>
    <div class="mb-3">
        <label>Вид топлива</label>
        <select class="form-select" asp-for="Input.FuelTypeId" required>
            <option selected value="" disabled>-- Выберите вид --</option>
            @foreach (var item in Model.FormData.FuelTypes)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
        <span asp-validation-for="Input.FuelTypeId"></span>
    </div>
    <div class="mb-3">
        <label>Объем двигателя</label>
        @*<input class="form-control" type="number" step="0.1" id="engine-capacity-get" required min="0" max="10" />
        <input class="form-control d-none" asp-for="Input.EngineСapacity"  id="engine-capacity-text" type="text" />*@
        <input class="form-control" type="number" asp-for="Input.EngineСapacity" step="0.1" id="engine-capacity-get" required min="0" max="10" />
        <span asp-validation-for="Input.EngineСapacity"></span>
    </div>
    <div class="mb-3">
        <label>Год выпуска</label>
        <input class="form-control" asp-for="Input.YearOfIssue" value="" required type="number" min="1900" max="9999" />
        <span asp-validation-for="Input.YearOfIssue"></span>
    </div>
    <div class="mb-3">
        <label>Стоимость за суточную аренду</label>
        <input class="form-control" asp-for="Input.CostPerDay" value="" required type="number" min="1" />
        <span asp-validation-for="Input.CostPerDay"></span>
    </div>
    <div class="mb-3">
        <label>Залог</label>
        <input class="form-control" asp-for="Input.Deposit" value="" required type="number" min="0" />
        <span asp-validation-for="Input.Deposit"></span>
    </div>
    <div class="mb-3">
        <label>Стоимость задержки по времени (за 1 час)</label>
        <input class="form-control" asp-for="Input.TimeDelayCost" value="" required type="number" min="0" />
        <span asp-validation-for="Input.TimeDelayCost"></span>
    </div>
    <input type="file" class="filepond" name="photos" multiple/>

    <div class="compress-info text-center p-3 mb-3 d-none">
        <label>Сжатие фотографий...</label>
    </div>
    <button class="btn btn-primary " type="submit">Добавить</button>

</form>
<script>
    //$("form").submit(function () {
    //    var value = $("#engine-capacity-get").val();
    //    var idx = value.indexOf(".");

    //    if (idx > 0) {
    //        value = value.replace(".", ",");
    //    }
    //    $("#engine-capacity-text").val(value);
    //});

    //Filepond

    FilePond.registerPlugin(FilePondPluginImagePreview);
    FilePond.registerPlugin(FilePondPluginFileValidateType);

    FilePond.setOptions({
        labelIdle: 'Перетащите фото или <span class="filepond--label-action"> загрузите </span>',
        acceptedFileTypes: ['image/png', 'image/jpeg'],
        itemInsertLocation: 'after'

    });
    var api = "/data/imgs/";
    
    $(document).ready(function (e) {
        pond = FilePond.create(
            document.querySelector('.filepond'), {
            allowMultiple: true,
            instantUpload: false,
            allowProcess: false,
            server: {
                url: api,
                process: 'upload-file',
                revert: null,
                load: './cars/',
                restore: null,
                fetch: null
            }
        });

        $("#uploadform").submit(async function (e) {
            e.preventDefault();
            var formdata = new FormData(this);

            // append FilePond files into the form data
            pondFiles = pond.getFiles();

            const compressImage = async (image)=>{
                try{ 
                    var compressed = await new Promise((resolve, reject)=>{
                        new Compressor(image, {
                            quality: 0.6,
                            maxWidth: 1600,
                            maxHeight: 1600,
                            success(result) {
                                resolve(result);
                            },
                            error(err) {
                                reject(err);
                            }
                        });   
                    });

                    return compressed;
                } catch (error) {
                    console.error(error);
                }
            };

            $('.compress-info').removeClass('d-none');

            for (var i = 0; i < pondFiles.length; i++) {
                var photo = await compressImage(pondFiles[i].file);
                formdata.append('photos', photo);
            }

            $('.compress-info').addClass('d-none');

            $.ajax({
                url: "/Admin/Cars/Add",
                data: formdata,
                processData: false,
                contentType: false,
                method: "post",
                success: function (result) {
                    if (result.redirectUrl !== undefined) {
                        window.location.replace(result.redirectUrl);
                    } else {
                        document.open("text/html", "replace");
                        document.write(result);
                        document.close();
                    }
                },
                error: function () {
                    console.log("ajax error");
                }
            });

        })
    });
</script>