@page
@model ProCar.Pages.Admin.Cars.AddModel
@{
    Layout = "_Layout2";
}

<script src="https://unpkg.com/filepond/dist/filepond.min.js"></script>
<script src="https://unpkg.com/jquery-filepond/filepond.jquery.js"></script>
<link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet" />
<script src="https://unpkg.com/filepond/dist/filepond.js"></script>
<script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
<link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css"
      rel="stylesheet" />
<script src="https://unpkg.com/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.js"></script>
<link href="https://unpkg.com/filepond-plugin-file-poster/dist/filepond-plugin-file-poster.css"
      rel="stylesheet" />
<script src="https://unpkg.com/filepond-plugin-file-poster/dist/filepond-plugin-file-poster.js"></script>


<h2>Добавление автомобиля</h2>
<span asp-validation-for="Input"></span>
<form id="uploadform" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label>Марка</label>
        <select class="form-select" asp-for="Input.BrandId" required>
            <option selected value="" disabled>-- Выберите марку --</option>
            <option value="999">Проверка некорректного Id</option>
            @foreach (var item in Model.FormData.Brands)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
        <span asp-validation-for="Input.BrandId"></span>
    </div>
    <div class="mb-3">
        <label>Модель</label>
        <input class="form-control" asp-for="Input.Model" value="" required />
        <span asp-validation-for="Input.Model"></span>
    </div>
    <div class="mb-3">
        <label>Тип автомобиля</label>
        <select class="form-select" asp-for="Input.CarTypeId" required>
            <option selected value="" disabled>-- Выберите тип --</option>
            @foreach (var item in Model.FormData.CarTypes)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
        <span asp-validation-for="Input.CarTypeId"></span>
    </div>
    <div class="mb-3">
        <label>Тип привода</label>
        <select class="form-select" asp-for="Input.DriveTypeId" required>
            <option selected value="" disabled>-- Выберите тип --</option>
            @foreach (var item in Model.FormData.DriveTypes)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
        <span asp-validation-for="Input.DriveTypeId"></span>
    </div>
    <div class="mb-3">
        <label>Тип коробки передач</label>
        <select class="form-select" asp-for="Input.GearboxTypeId" required>
            <option selected value="" disabled>-- Выберите тип --</option>
            <@foreach (var item in Model.FormData.GearboxTypes)
            {
                        <option value="@item.Id">@item.Name</option>
            }
        </select>
        <span asp-validation-for="Input.GearboxTypeId"></span>
    </div>
    <div class="mb-3">
        <label>Вид топлива</label>
        <select class="form-select" asp-for="Input.FuelTypeId" required>
            <option selected value="" disabled>-- Выберите вид --</option>
            @foreach (var item in Model.FormData.FuelTypes)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
        <span asp-validation-for="Input.FuelTypeId"></span>
    </div>
    <div class="mb-3">
        <label>Объем двигателя</label>
        <input class="form-control" value="@Model" type="number" step="0.1" id="engine-capacity" required min="0" max="10" />
        <input class="form-control d-none" asp-for="Input.EngineСapacity" value="" id="engine-capacity-text" type="text" />
        <span asp-validation-for="Input.EngineСapacity"></span>
    </div>
    <div class="mb-3">
        <label>Год выпуска</label>
        <input class="form-control" asp-for="Input.YearOfIssue" value="" required type="number" min="1900" max="9999" />
        <span asp-validation-for="Input.YearOfIssue"></span>
    </div>
    <div class="mb-3">
        <label>Стоимость за суточную аренду</label>
        <input class="form-control" asp-for="Input.CostPerDay" value="" required type="number" min="1" />
        <span asp-validation-for="Input.CostPerDay"></span>
    </div>
    <div class="mb-3">
        <label>Залог</label>
        <input class="form-control" asp-for="Input.Deposit" value="" required type="number" min="0" />
        <span asp-validation-for="Input.Deposit"></span>
    </div>
    <div class="mb-3">
        <label>Стоимость задержки по времени (за 1 час)</label>
        <input class="form-control" asp-for="Input.TimeDelayCost" value="" required type="number" min="0" />
        <span asp-validation-for="Input.TimeDelayCost"></span>
    </div>
    <input type="file" class="filepond" name="photos" multiple/>
 
    <button class="btn btn-primary" type="submit">Добавить</button>

</form>
<script>
    $("form").submit(function () {
        var value = $("#engine-capacity").val();
        var idx = value.indexOf(".");
        if (idx > 0) {
            value = value.replace(".", ",");
        }
        console.log("idx: " + idx + " value: " + value);
        $("#engine-capacity-text").val(value);
        console.log("changed: " + value);
    });

    //Filepond

    FilePond.registerPlugin(FilePondPluginImagePreview);
    FilePond.registerPlugin(FilePondPluginFileValidateType);

    FilePond.setOptions({
        labelIdle: 'Перетащите фото или <span class="filepond--label-action"> загрузите </span>',
        acceptedFileTypes: ['image/png'],
        itemInsertLocation: 'after'

    });
    var api = "/data/imgs/";

    $(document).ready(function (e) {
        pond = FilePond.create(
            document.querySelector('.filepond'), {
            allowMultiple: true,
            instantUpload: false,
            allowProcess: false,
            server: {
                url: api,
                process: 'upload-file',
                revert: null,
                load: './cars/',
                restore: null,
                fetch: null
            },
            //files: [
            //    {
            //        source: "lada.png",
            //        options: {
            //            type: 'local',
            //            //metadata: {
            //            //    poster: '127.0.0.1:5042/imgs/lada.png'
            //            //}
            //            metadata: {
            //                name: "lada.png",
            //                type: 'image/png'
            //            }
            //        }
            //    }

            //]

        });


        $("#uploadform").submit(function (e) {
            e.preventDefault();
            var formdata = new FormData(this);
            // append FilePond files into the form data
            pondFiles = pond.getFiles();
            for (var i = 0; i < pondFiles.length; i++) {
                // append the blob file
                formdata.append('photos', pondFiles[i].file);
            }

            $.ajax({
                url: "/Admin/Cars/Add",
                data: formdata,
                processData: false,
                contentType: false,
                method: "post",
                success: function (result) {
                    if (result.redirectUrl !== undefined) {
                        window.location.replace(result.redirectUrl);
                    } else {
                        // No redirect found, do something else
                    }
                },

            });

        })
    });
</script>